* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

.center {
  max-width: 1200px;
  margin: 0 auto;
}

body {
  font-family: "Montserrat Alternates", sans-serif;
  color: #45403D;
}

.header {
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #FFFFFF;
}

.links-box {
  display: flex;
  align-items: center;
  gap: 48px;
  font-size: 16px;
  font-weight: 600;
}
.links-box__button {
  box-sizing: border-box;
  font: inherit;
  width: 169px;
  height: 52px;
  border-radius: 24px;
  background-color: #F6F5F4;
  color: #A26539;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  border: 1px solid #A26539;
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
}
.links-box__button:hover {
  background-color: #A26539;
  color: #F6F5F4;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.main {
  background-color: #F6F5F4;
}

.landpage {
  height: 770px;
  position: relative;
}
.landpage__button {
  box-sizing: border-box;
  font: inherit;
  width: 169px;
  height: 52px;
  border-radius: 24px;
  background-color: #F6F5F4;
  color: #A26539;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  border: 1px solid #A26539;
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
  width: 366px;
  margin-top: 40px;
}
.landpage__button:hover {
  background-color: #A26539;
  color: #F6F5F4;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}
.landpage__imges_table {
  position: absolute;
  right: -120px;
  top: 0;
}
.landpage__imges_coffee {
  position: absolute;
  right: 126px;
  top: 0;
}
.landpage__imges_cookie {
  position: absolute;
  right: 266px;
  top: 369px;
}
.landpage__imges_cinnnamon {
  position: absolute;
  right: -120px;
  top: 200px;
}
.landpage__imges_beans {
  position: absolute;
  right: -19px;
  top: 58px;
}

.title {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-top: 118px;
}
.title__title {
  max-width: 570px;
  font-size: 48px;
  font-weight: 700;
}
.title__title_quote {
  font-weight: 400;
}
.title__subtitle {
  max-width: 498px;
  font-size: 24px;
  font-weight: 600;
}
.title__text {
  max-width: 498px;
  font-size: 16px;
  font-weight: 400;
}

.about-us {
  padding-top: 64px;
}

.info {
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
  margin-top: 48px;
  padding-bottom: 64px;
}
.info__item {
  display: flex;
  background-color: #FFFFFF;
  max-width: 584px;
  max-height: 292px;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
  gap: 20px;
}
.info__image {
  border-top-left-radius: 24px;
}

.description {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 14px;
  padding-right: 20px;
  margin-top: 20px;
}
.description__title {
  font-size: 24px;
  font-weight: 600;
}
.description__text {
  font-size: 14px;
  font-weight: 400;
}

.menu {
  padding-top: 64px;
  padding-bottom: 64px;
}
.menu__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 48px;
}
.menu__title {
  font-size: 48px;
  font-weight: 700;
}
.menu__controls {
  display: flex;
  gap: 16px;
  justify-content: flex-end;
}
.menu__control {
  box-sizing: border-box;
  font: inherit;
  width: 169px;
  height: 52px;
  border-radius: 24px;
  background-color: #F6F5F4;
  color: #A26539;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  border: 1px solid #A26539;
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
}
.menu__control:hover {
  background-color: #A26539;
  color: #F6F5F4;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}
.menu__items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 32px;
}
.menu__item {
  width: 100%;
  background-color: #FFFFFF;
  border-radius: 24px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.menu__img {
  width: 100%;
  height: 276px;
  -o-object-fit: cover;
     object-fit: cover;
  background-color: #DEDEDE;
}
.menu__info {
  padding: 22px 16px 16px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.menu__price {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 7px;
}
.menu__description {
  font-size: 14px;
  line-height: 1.4;
  margin-bottom: 7px;
  color: #555;
  flex-grow: 1;
}
.menu__size {
  font-size: 14px;
  color: #888;
  margin-top: auto;
}/*# sourceMappingURL=style.css.map */