* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

.center {
  max-width: 1200px;
  margin: 0 auto;
}

body {
  font-family: "Montserrat Alternates", sans-serif;
  color: #45403D;
}

.header {
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #FFFFFF;
}

.links-box {
  display: flex;
  align-items: center;
  gap: 48px;
  font-size: 16px;
  font-weight: 600;
}
.links-box__button {
  box-sizing: border-box;
  font: inherit;
  width: 169px;
  height: 52px;
  border-radius: 24px;
  background-color: #F6F5F4;
  color: #A26539;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  border: 1px solid #A26539;
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
}
.links-box__button:hover {
  background-color: #A26539;
  color: #F6F5F4;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.main {
  background-color: #F6F5F4;
}

.landpage {
  height: 770px;
  position: relative;
}
.landpage__button {
  box-sizing: border-box;
  font: inherit;
  width: 169px;
  height: 52px;
  border-radius: 24px;
  background-color: #F6F5F4;
  color: #A26539;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  border: 1px solid #A26539;
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
  width: 366px;
  margin-top: 40px;
}
.landpage__button:hover {
  background-color: #A26539;
  color: #F6F5F4;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}
.landpage__imges_table {
  position: absolute;
  right: -120px;
  top: 0;
  filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.14));
}
.landpage__imges_coffee {
  position: absolute;
  right: 126px;
  top: 0;
  filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.14));
}
.landpage__imges_cookie {
  position: absolute;
  right: 266px;
  top: 369px;
  filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.14));
}
.landpage__imges_cinnnamon {
  position: absolute;
  right: -120px;
  top: 200px;
  filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.14));
}
.landpage__imges_beans {
  position: absolute;
  right: -19px;
  top: 58px;
  filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.14));
}

.title {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-top: 118px;
}
.title__title {
  max-width: 570px;
  font-size: 48px;
  font-weight: 700;
}
.title__title_quote {
  font-weight: 400;
}
.title__subtitle {
  max-width: 498px;
  font-size: 24px;
  font-weight: 600;
}
.title__text {
  max-width: 498px;
  font-size: 16px;
  font-weight: 400;
}

.about-us {
  padding-top: 64px;
}

.info {
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
  margin-top: 48px;
  padding-bottom: 64px;
}
.info__item {
  display: flex;
  background-color: #FFFFFF;
  max-width: 584px;
  max-height: 292px;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
  gap: 20px;
  filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.14));
}
.info__image {
  border-top-left-radius: 24px;
}

.description {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 14px;
  padding-right: 20px;
  margin-top: 20px;
}
.description__title {
  font-size: 24px;
  font-weight: 600;
}
.description__text {
  font-size: 14px;
  font-weight: 400;
}

.menu {
  padding-top: 64px;
  padding-bottom: 64px;
}
.menu__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 48px;
}
.menu__title {
  font-size: 48px;
  font-weight: 700;
}
.menu__controls {
  display: flex;
  gap: 16px;
  justify-content: flex-end;
}
.menu__control {
  box-sizing: border-box;
  font: inherit;
  width: 169px;
  height: 52px;
  border-radius: 24px;
  background-color: #F6F5F4;
  color: #A26539;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  border: 1px solid #A26539;
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
}
.menu__control:hover {
  background-color: #A26539;
  color: #F6F5F4;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}
.menu__items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 32px;
}
.menu__item {
  width: 100%;
  background-color: #FFFFFF;
  border-radius: 24px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.14));
}
.menu__img {
  width: 100%;
  height: 276px;
  -o-object-fit: cover;
     object-fit: cover;
  background-color: #DEDEDE;
}
.menu__info {
  padding: 22px 16px 16px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.menu__price {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 7px;
}
.menu__description {
  font-size: 14px;
  line-height: 1.4;
  margin-bottom: 7px;
  color: #555;
  flex-grow: 1;
}
.menu__size {
  font-size: 14px;
  color: #888;
  margin-top: auto;
}

.reviews {
  padding: 64px 0;
}
.reviews__title {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 48px;
}
.reviews__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
}
.reviews__item {
  background-color: #FFFFFF;
  border-radius: 24px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  max-width: 379px;
  max-height: 208px;
  filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.14));
}
.reviews__info {
  display: flex;
}
.reviews__score {
  padding-left: 20px;
}
.reviews__photo {
  width: 69px;
  height: 69px;
  border-radius: 50%;
  background-color: #DEDEDE;
}
.reviews__name {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 7px;
}
.reviews__stars-box {
  display: flex;
}
.reviews__stars {
  height: 24px;
}
.reviews__text {
  font-size: 14px;
  font-weight: 400;
}

.contacts {
  padding-bottom: 64px;
  padding-top: 64px;
}
.contacts__title {
  font-size: 36px;
  margin-bottom: 48px;
}
.contacts__info {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}
.contacts__left {
  flex: 1 1 350px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.contacts__contacts {
  background: #f9f9f9;
  padding: 20px;
  border-radius: 24px;
  filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.14));
}
.contacts__subtitle {
  font-size: 24px;
  margin-bottom: 20px;
}
.contacts__list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.contacts__icon {
  margin-right: 10px;
}
.contacts__item {
  font-size: 14px;
  margin-bottom: 10px;
  font-weight: 400;
}
.contacts__booking-form {
  background: #f9f9f9;
  padding: 20px;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.14));
}
.contacts__form-input {
  padding: 12px 16px;
  border: 1px solid rgba(222, 222, 222, 0.8);
  border-radius: 24px;
  font-size: 14px;
  font-weight: 400;
}
.contacts__form-button {
  box-sizing: border-box;
  font: inherit;
  width: 169px;
  height: 52px;
  border-radius: 24px;
  background-color: #F6F5F4;
  color: #A26539;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  border: 1px solid #A26539;
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
  width: 339px;
}
.contacts__form-button:hover {
  background-color: #A26539;
  color: #F6F5F4;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}
.contacts__map {
  flex: 1 1 781px;
  min-height: 514px;
  border-radius: 24px;
  overflow: hidden;
  filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.14));
}
.contacts__map script {
  width: 100%;
  height: 100%;
}

.footer {
  height: 156px;
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
}
.footer__content {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 32px 20px;
}
.footer__left {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.footer__logo {
  width: 305px;
  height: 39px;
}
.footer__copyright {
  font-size: 14px;
  color: #555;
}
.footer__right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 18px;
}
.footer__links {
  display: flex;
  gap: 32px;
}
.footer__link {
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  color: #45403D;
}
.footer__social {
  display: flex;
  gap: 16px;
}
.footer__icon {
  transition: transform 0.3s;
}
.footer__icon:hover {
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .footer {
    height: auto;
    padding: 32px 0;
  }
  .footer__content {
    flex-direction: column;
    gap: 24px;
    align-items: center;
  }
  .footer__right {
    align-items: center;
  }
  .footer__left {
    align-items: center;
    text-align: center;
  }
}
/*
  @media (max-width: 1024px) {
    .reviews__items {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (max-width: 768px) {
    .reviews__items {
      grid-template-columns: 1fr;
    }
  }
*//*# sourceMappingURL=style.css.map */