@import 'vars';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

body {
    font-family: $font-family;
}

.header{
    &__button{
        @include button-style;
    }
}